$font-stack: 'Inter', sans-serif;
$root-font-size: 18px;

$duration: .3s;

$primary:#5C7F67;
$primary-focus:#496552;
$primary-content:#C7FFD9;

$secondary:#ECF4E7;
$secondary-focus:#BAD7A8;
$secondary-content:#24321A;

$accent:#FAE5E5;
$accent-focus:#EB9494;
$accent-content:#322020;

$neutral:#5D5656;
$neutral-focus:#4A4545;
$neutral-content:#4A4545;

$base-100:#E9E7E7;
$base-200:#D3CFCF;
$base-300:#BFBABA;
$base-content:#100F0F;
